<div data-role="page">
  <div data-role="header" data-theme='d' data-position='inline'>
    <h1>ダイアログ</h1>
  </div><!-- /header -->

  <div data-role="content" data-theme='c'>  
    <img src="<%= params[:image] %>" />
    <a href="/boards/callback?image=<%= params[:image] %>&url=<%= params[:url] %>" data-role="button" data-theme="b">OK</a>       
    <a href="#" data-role="button" data-rel="back" data-theme="c">Cancel</a>    
</div><!-- /content -->
                                                  </div><!-- /page -->

