/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require jquery.mobile
 */
.navi {
 margin:10px 0 0 0;
}
ul.thumbnail { 
 list-style-type: none;
 padding:0;
 margin:10px 0 0 0;
}
ul.thumbnail li {
 float: left;
 margin: 0 5px 5px 0;
}
ul.thumbnail li img {
 border: 0px solid #bbb;
 width: 50px;
 height: 50px;
}
ul.thumbnail li a { display: block; }
.clearfix:after {
 content: ".";
 display: block;
 height: 0;
 line-height: 0;
 clear: both;
 visibility: hidden;
}
