// Place all the styles related to the boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@charset "utf-8";

#bg{
  background:url(http://tnmt.heteml.jp/shushutest/board/board1/images/bg.png);
  width:640px;
  height:960px;
}

#title{position:absolute; top:50px; left:60px; z-index:1;}
#img_1{position:absolute; top:355px; left:37px;}
#img_2{position:absolute; top:355px; left:340px;}
#img_3{position:absolute; top:658px; left:37px;}
#img_4{position:absolute; top:658px; left:340px;}


